@model IQueryable<Auction>
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Welcome to GameAux!</h1>
    <form action="/admin/create" class="d-inline">
        <button class="btn btn-outline-success">Create Auction</button>
    </form>
    <hr />
    <h2>Current Auctions</h2>
    @foreach (Auction a in Model)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Auction Id</th>
                    <th scope="col">Seller Id</th>
                    <th scope="col">Product Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Console</th>
                    <th scope="col">Category</th>
                    <th scope="col">Buy Now Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row" width="300">@a.AuctionId</td>
                    <td scope="row" width="300">@a.SellerId</td>
                    <td scope="row" width="300">@a.ProductId</td>
                    <td scope="row" width="300">@a.ProductName</td>
                    <td scope="row" width="300">@a.ProductConsole</td>
                    <td scope="row" width="300">@a.Category</td>
                    <td scope="row" width="300">@a.BuyNowPrice</td>
                    <td>
                        <form action="/admin/update/@a.AuctionId" class="d-inline">
                            <button class="btn btn-primary">Update</button>
                        </form>
                    </td>
                    <td>
                        <form action="/admin/delete/@a.AuctionId" class="d-inline">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                    <td>
                        <form action="/admin/detail/@a.AuctionId" class="d-inline">
                            <button class="btn btn-secondary">Details</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    }
</body>
</html>
